<main class="index">

    <header class="masthead d-flex mx-auto">

        <div class="container mx-auto">
            <h1 class="mb-1">Favorite Links</h1>
            <h3 class="mb-5">
                <em>Almacena Tus Links Favoritos </em>
            </h3>
            <a class="btn btn-primary " href="/signin">
                Comencemos!!
            </a>

        </div>


    </header>

</main>